<%= turbo_frame_tag dom_id(contract) do %>
  <div class="flex items-center space-x-2 bg-stone-50 p-2">
    <div><strong class="block text-sm font-semibold mb-1">Name : </strong></div>
    <div class="text-xs font-mono text-slate-700"><%= contract.name %></div>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this contract", contract, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this contract", edit_contract_path(contract), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
<% end %>
